.extensions-list {
  &-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 30px 0;
    border-bottom: 1px solid var(--select-item-border-color);

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }

    &:hover {
      span {
        color: var(--accent);
        transition: .3s;
      }
    }

    span {
      margin-left: 20px;
      text-transform: capitalize;
    }
  }
}