.alert__box {
  background-color: var(--action-btn-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 14px;
  border-radius: 18px;
  padding: 15px;
}

.alert__span {
  flex: 2
}

.alert__button {
  margin-left: 20px;
  border: none;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  color:var(--primary-color);
}