.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 54px 70px;

  &-wrap {
    display: flex;
  }

  &-link {
    display: inline-flex;
    align-self: center;
    margin-right: 40px;
    user-select: none;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      color:  var(--header-link-color);
      transition: .3s;
    }

    &--active {
      color: var(--header-link-color);
      font-weight: 700;
    }
  }

  &-btn {
    font-size: 20px;
    padding: 15px;
    margin-left: 30px;
    :first-of-type {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 1025px) {
  .header {
    padding: 30px;
    flex-direction: column;

    &-wrap {
      display: flex;
      margin-bottom: 15px;
    }
    &-btn {
      padding: 10px;
    }

    &-link {
      font-size: 18px;
      margin-right: 20px;
    }
  }
}